/* Generale */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    height: 100%;
  }
  
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    min-height: 274px;
 }
  
/* File Upload */ 
label[for="file-input"] {
    display: block;
    padding: 30px;
    text-align: center;
    background-color: #f0f0f0;
    cursor: pointer;
    color: black;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}
  
label[for="file-input"]:hover {
    background-color: #e9f5ff;
}
  
label[for="file-input"].drag-over {
    background-color: #d9ecff;
}
  
.btn {
    background-color: black;
    color: #ffffff;
    margin-top: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}
  
.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
  
/* Tabella */
table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
table th, table td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
  
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
  
h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
 
/* Grafico */
#plot-container {
    margin-top: 40px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}
  
  
.text-center {
    text-align: center;
}
  
/* Header e footer */
.header, .footer {
    background-color: black;
    color: white;
    text-align: center;
}
  
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 5px;
    background-color: black;
    color: #fff;
}
  
/* Imposta il corpo per occupare almeno l'altezza totale della finestra */
html, body {
    height: 100%;
    margin: 0;
}
  
/* Wrapper principale della pagina */
.wrapper {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
  
/* Il contenuto della pagina (deve espandersi per occupare spazio) */
.content {
    flex-grow: 1; /* Occupa tutto lo spazio disponibile */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
  
/* Footer in fondo alla pagina */
.footer {
    padding: 70px 0 5px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}
  
/* Bottone */
.link-to {
    text-decoration: none;
    color:white;
    background-color: black;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: bold;
    margin-top: 30px;
    align-content: end;
    border-radius: 6px;
    transition: background-color 0.3s, border-color 0.3s;
}
  
.link-to:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
  
.title {
    padding-left: 15px;
}
  
  
  
/* Sidebar */
.menu-icon {
    font-size: 35px;
    cursor: pointer;
}
  
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Nasconde la sidebar inizialmente */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000; /* Assicurati che la sidebar sia sopra gli altri elementi */
}
  
.sidebar.open {
    left: 0; /* Mostra la sidebar quando è aperta */
    padding-top: 25px;
}
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.sidebar ul li {
    padding: 10px;
}
  
.sidebar ul li .router-link {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
  
/* Overlay che appare quando la sidebar è aperta */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Appena sotto la sidebar */
}
  
.sidebar ul:hover li:hover .router-link:hover{
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
}
 
.title-sidebar{
    color: red; 
    font-size: 24px;
}
  